<!DOCTYPE html>
<html class="dark" lang="{{ .Site.Language }}">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1,initial-scale=1"
    />
    <meta
      name="description"
      content="{{- .Description | default .Site.Params.Description -}}"
    />
    <meta
      name="apple-mobile-web-app-title"
      content="{{ .Site.Params.appName}}"
    />
    <meta name="application-name" content="{{ .Site.Params.appName }}" />
    <meta name="theme-color" content="{{ .Site.Params.appThemeColor }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta
      property="og:type"
      content='{{ cond (isset .Params "tags") "article" "website" }}'
    />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}" />
    <meta name="twitter:domain" content="{{ .Site.BaseURL }}" />
    {{ $image := .Site.Params.favicon}}
    <meta name="twitter:image" content="{{ absURL $image | safeHTMLAttr }}" />
    <meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
    <meta property="og:locale" content="{{ .Site.Language }}" />
    <meta property="og:title" content="{{ .Title | default .Site.Title }}" />
    <meta property="og:image" content="{{ absURL $image | safeHTMLAttr }}" />
    <meta
      property="og:description"
      content="{{- .Description | default .Site.Params.Description -}}"
    />
    <meta property="og:site_name" content="{{ .Site.Title }}" />

    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="manifest" href='{{ absURL "manifest.json"}}' />

    <!-- prettier-ignore -->
    {{ $css := resources.Get "styles/global.css" }}
    {{ $style := $css | resources.Minify }}
    <!-- prettier-ignore -->
    <style>{{$style.Content | safeCSS}}</style>

    <!-- prettier-ignore -->
    {{ $css := resources.Get "styles/tailwind.build.css" }}
    {{ $style := $css | resources.Minify }}
    <!-- prettier-ignore -->
    <style>{{$style.Content | safeCSS}}</style>

    <title>{{- .Title | default .Site.Title -}}</title>
    <link
      rel="icon"
      href="{{ absURL .Site.Params.favicon | safeHTMLAttr}}"
      type="image/svg+xml"
    />

    <!-- prettier-ignore -->
    {{ if isset .Params "tags" }}
    {{ $date := "2006-01-02T15:04:05Z07:00" }}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "NewsArticle",
        "headline": "{{ .Title }}",
        "image": ["{{ absURL $image | safeHTMLAttr }}"],
        "datePublished": "{{ .Date.Format $date }}"
      }
    </script>
    {{ end }}

    <!-- LITE YOUTUBE -->
    <!-- prettier-ignore -->
    {{ $liteYouTubeBuild := false }}
    {{ $css := resources.Get "libraries/lite-youtube/lite-youtube.css" }}
    {{ $style := $css | resources.Minify }}
    <!-- prettier-ignore -->
    <style>{{$style.Content | safeCSS}}</style>
    <!-- prettier-ignore -->
    {{ $js := resources.Get "libraries/lite-youtube/lite-youtube.js" }}
    {{ $script := $js | resources.Minify }}
    <!-- prettier-ignore -->
    <script>{{$script.Content | safeJS}}</script>
    <!-- prettier-ignore -->
    {{ $js := resources.Get "js/script.start.js" }}
    {{ $script := $js | resources.Minify }}
    <!-- prettier-ignore -->
    <script>{{$script.Content | safeJS}}</script>
  </head>

  <body class="text-dark dark:text-light bg-white dark:bg-blue-dark text-xl">
    <!-- prettier-ignore -->
    {{ partial "header.html" . }}
    {{ partial "btn-theme.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ $js := resources.Get "js/script.end.js" }}
    {{ $script := $js | resources.Minify }}
    <!-- prettier-ignore -->
    <script>{{$script.Content | safeJS}}</script>
    {{ partial "footer.html" . }}
  </body>
</html>
