:root {
  --color-primary: #4ecdc4;
  --color-secondary: #eef36a;
  --color-light: #f5f3f5;
  --color-dark: #242325;
  --color-blue-dark: #001021;
  --color-gray-dark: #3c4043;
  --color-black: #000a14;
  --color-orange: #ff5959;
  --color-mustard: #fabb51;
}
