<button
  id="btn-theme"
  class="hidden flex justify-center items-center z-50 w-11 h-11 [&>span>svg]:h-5 fixed bottom-24 right-8 rounded-full bg-gradient-to-tr text-secondary from-[cyan] to-[#04f] shadow-md shadow-dark/30 dark:from-gray-600 dark:to-slate-950 dark:text-light dark:shadow-light/30"
>
  <span class="block dark:hidden">
    <!-- prettier-ignore -->
    {{ partial "icons/sun-cloud.html" }}
  </span>
  <span class="dark:block hidden">
    <!-- prettier-ignore -->
    {{ partial "icons/moon-stars.html" }}
  </span>
</button>

<script>
  const $btnTheme = document.querySelector('#btn-theme')
  $btnTheme.classList.remove('hidden')
  $btnTheme.addEventListener('click', function (event) {
    const themeNow = getThemeMode() === 'dark' ? 'light' : 'dark'
    setThemeMode(themeNow)
  })
</script>
