<footer>
  <figure class="w-full overflow-hidden text-black [&>svg]:h-10 [&>svg]:w-dvw">
    {{ partial "icons/wave.html" . }}
  </figure>
  <section
    class="flex pt-16 pb-40 justify-center gap-5 bg-black text-light [&>a]:p-3 [&>a]:rounded-full [&>a]:aspect-square [&>a]:flex [&>a]:justify-center [&>a]:items-center [&>a>svg]:h-8 [&>a]:overflow-hidden hover:[&>a]:bg-gray-dark"
  >
    <a href="https://www.linkedin.com/in/edicsonabel/" target="_blank"
      >{{ partial "icons/linkedin.html" }}</a
    >
    <a href="https://twitter.com/edicsonabel_" target="_blank"
      >{{ partial "icons/x-twitter.html" }}</a
    >
    <a href="https://github.com/edicsonabel" target="_blank"
      >{{ partial "icons/github.html" }}</a
    >
    <a href="https://gitlab.com/edicsonabel" target="_blank"
      >{{ partial "icons/gitlab.html" }}</a
    >
  </section>
</footer>
