<header class="fixed w-full bottom-2">
  <ul
    class="bg-blue-dark text-secondary rounded-full mx-3 flex flex-row justify-between overflow-hidden [&>li]:w-full [&>li>a]:flex [&>li>a]:flex-col [&>li>a]:text-center [&>li>a]:py-3 [&>li>a>svg]:h-5 [&>li>a>span]:text-[.625rem] [&>li>a>span]:mt-1"
  >
    {{ $RelPermalink := .RelPermalink}} {{ $auxPermalink := "/" }}
    <li
      class='order-3 {{ cond (eq $RelPermalink $auxPermalink) "text-primary" ""}}'
    >
      <a href="{{ absURL $auxPermalink }}">
        {{ partial "icons/house.html"}}
        <span>Home</span>
      </a>
    </li>
    {{ $auxPermalink := "/blog/" }}
    <li
      class='order-4 {{ cond (or (eq $RelPermalink $auxPermalink) (isset .Params "tags")) "text-primary" ""}}'
    >
      <a href="{{ absURL $auxPermalink }}">
        {{ partial "icons/pen.html"}}
        <span>Blog</span>
      </a>
    </li>
    {{ $auxPermalink := "/portfolio/" }}
    <li
      class='order-2 {{ cond (eq $RelPermalink $auxPermalink) "text-primary" ""}}'
    >
      <a href="{{ absURL $auxPermalink }}">
        {{ partial "icons/portfolio.html"}}
        <span>Portafolio</span>
      </a>
    </li>
    {{ $auxPermalink := "/me/" }}
    <li
      class='order-1 {{ cond (eq $RelPermalink $auxPermalink) "text-primary" ""}}'
    >
      <a href="{{ absURL $auxPermalink }}">
        {{ partial "icons/user.html"}}
        <span>Sobre mí</span>
      </a>
    </li>
    {{ $auxPermalink := "/search/" }}
    <li
      class='order-5 {{ cond (eq $RelPermalink $auxPermalink) "text-primary" ""}}'
    >
      <a href="{{ absURL $auxPermalink }}">
        {{ partial "icons/search.html"}}
        <span>Buscar</span>
      </a>
    </li>
  </ul>
</header>
